.tools/*
cef/*
cef_binary_3.y.z_windows32/*
!cef_binary_3.y.z_windows32/README.txt
!cef_binary_3.y.z_windows32/LICENSE.txt
cef_binary_3.y.z_windows64/*
!cef_binary_3.y.z_windows64/README.txt
!cef_binary_3.y.z_windows64/LICENSE.txt

*.nupkg
*.sdf
*.opensdf
*.suo
*.user
*.log
_ReSharper*
out
*Thumbs.db
